%h1 Welcome to the EternalEdge server.
%br/
I hope you enjoy your stay, If you need to contact me, my e-mail address is
= mail_to "bassgs3000@gmail.com"
%p 
  My skype/steam username is 
  %u zeroedge9 

